[submodule "libwebsockets"]
	path = backend/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
	branch = v2.1-stable
[submodule "backend/stb"]
	path = backend/stb
	url = https://github.com/nothings/stb.git
