[Unit]
Description=Battleship WebSockets Server
After=syslog.target

[Service]
ExecStart=/usr/bin/lwsws -c /etc/battleship
StandardError=null

[Install]
WantedBy=multi-user.target

