Source: battleship
Section: games
Priority: optional
Maintainer: Kaashif Hymabaccus <kaashif.hymabaccus@wadh.ox.ac.uk>
Build-Depends: debhelper (>=9), npm, nodejs-legacy, cmake, zlib1g-dev, python3-dev, cython, libjansson-dev
Standards-Version: 3.9.8
Homepage: https://github.com/wzwright/GroupDesignBattleship

Package: battleship
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: WebSockets server and frontend for playing battleship.
 Provides an lwsws binary and plugin for running a WebSockets server.
 The frontend in /usr/share/battleship uses the server to play a clone of
 the battleship board game.
